body { 
    background-attachment: fixed;
    width: 100%;	
    height: 100%; 
    min-height: 100%;  
   	margin: 0;
    padding: 0;
  	background-color: rgba(255, 255, 255, 1.0);
  	color: rgba(0, 0, 0, 0.7);
  	font: normal 120% 'LatoLight', sans-serif;
  	z-index: 0;
}

@font-face {       
  font-family: 'LatoThin'; 
  src: url('../fonts/Lato/Lato-Thin.ttf'); 
  font-weight: 100;
  font-style: normal;
} 

@font-face {       
  font-family: 'LatoLight'; 
  src: url('../fonts/Lato/Dosis/static/Lato-Light.ttf'); 
  font-weight: 200;
}

@font-face {       
  font-family: 'LatoRegular'; 
  src: url('../fonts/Lato/Lato-Regular.ttf'); 
  font-weight: 400;
}

@font-face {       
  font-family: 'LatoBold'; 
  src: url('../fonts/Lato/Lato-Bold.ttf'); 
  font-weight: 400;
}

@font-face {       
  font-family: 'LatoItalic'; 
  src: url('../fonts/Lato/Lato-Italic.ttf'); 
  font-weight: 400;
  font-style: italic;
}


#header {
	z-index: 0;
}

#header a,
#header a:hover {
	position: fixed;
	top: 0px;
	margin: 0px 0px 0px 0px;
	background: #C0C0BE url("../images/quant-x-header-dark.jpg") no-repeat center top;
	background-size: 100%;
  width: 100%;
  min-width: 100%;
	height: 230px;
	z-index: 0;
}

#mobileMenu {
  display: none;
}

#linkListBackground {
	position: fixed;
	top: 0px;
	height: 53px;
	width: 100%;
	background-color: rgba(255, 255, 255, 1.0);
	z-index: 2;
}
	 
.linkList {
	position: fixed;
	width: 100%;
	top: 0px;
	margin: 0;
  text-decoration: none;	
  display: inline-block;
  padding: 8px 0px;
  border-bottom: 1px solid rgba(30, 30, 38, 0.2);
  z-index: 3;
  background-color: rgba(255, 255, 255, 0.9);
  font: Arial, sans-serif;
}

.link {
	float: left;
	padding: 0px 0px 0px 6px;
  font-size: 100%;
  width: auto;
	margin: 0;
	text-align: center;	
}

.link span.nerdDecoration {
  font-size: 120%;
}

.link a, a:link, .activeLink, a:visited {
  	font: 130% 'LatoRegular';
}

span.spacer {
  display: block;
  height: 20px;
}

h1 {
	font: 180% 'LatoRegular';
	color: rgba(30, 30, 38, 0.8);
	margin: 20px 0px 20px 3%;
  text-align: left;
}

h2 {
	text-align: left;
	font: 160% 'LatoRegular';
  margin: 20px 0px 10px 0px;
	color: rgba(30, 30, 38, 0.9);
}


h3 {
	font: 150% 'LatoBold';
	color: rgba(30, 30, 38, 0.8);
	margin: 0;
	padding: 0;
}

h3.dataprotection {
  font: 130% 'LatoRegular';
  color: rgba(30, 30, 38, 0.9);
  margin: 0;
  padding: 0;
}

h3.listTitle {
  font: 110% 'LatoRegular';
  color: rgba(0, 0, 0, 0.8);
  margin: 0;
  padding: 4px 0px 2px 0px;
}

h3.imageTitle {
  font: 150% 'LatoRegular';
  text-align: center;
  color: rgba(0, 0, 0, 0.8);
}

p {
	text-indent: 0px;
}

h3.specialArea {
  font: 110% 'LatoRegular';
}

p.question {
  color: rgba(30, 30, 38, 0.8);
}

p.imageText {
  text-align: center;
}

hr {
  border: none;
  height: 1px;
  background-color: rgba(0, 0, 100, 0.3)
}

.indexItem.title {
  font: 130% 'LatoThin';
  color: rgba(0, 0, 0, 1.0);
}

.indexItem.title:hover {
  color: rgba(0, 0, 0, 1.0);
}

.indexItem {
  cursor: pointer;
}

.indexItem:hover {
  color: rgba(30, 30, 38, 1.0);
}

.indexItem.active {
  font-style: italic;
  color: rgba(0, 0, 170, 1.0);
}

.nerdDecoration {
  color: rgba(0, 0, 100, 0.2);
}

#specialTopics,
#Memberships {
  text-align: center;
  background-color: rgba(0, 0, 100, 0.1);
}

#About p.comment {
  font: 'LatoItalic';
}

#About,
#Customers,
#Memberships {
  background-color: rgba(51, 102, 143, 0.1);
  color: rgba(3, 4, 7, 0.8);
  padding: 20px;
}

#About h3,
#Customers h3,
#Memberships h3 {
  color: rgba(3, 4, 7, 0.8);
  text-transform: uppercase;
}

#RnD,
#Conferences {
  background-color: rgba(255, 255, 255, 0.9);
  color: rgba(3, 4, 7, 0.5);
  padding: 20px;
}

#RnD h3,
#Conferences h3 {
  color: rgba(51, 102, 143, 0.9);
  text-transform: uppercase;
}

.centered {
  position: absolute;
  top: 230px !important;
  width: 100%;
  max-width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  background-attachment: scroll;
  display: block;
  padding: 0px 0px 100px 0px;
  overflow: visible;
  text-align: center;
  z-index: 1;
  border-top: 1px solid rgba(30, 30, 38, 0.2);
}

.published {
  position: absolute;
  top: 48px !important;
  width: 100%;
  max-width: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  background-attachment: scroll;
  display: block;
  padding: 0px 0px 100px 0px;
  overflow: visible;
  text-align: center;
  z-index: 1;
}

.abstract {
  box-sizing: border-box;
  text-align: center;
}

#Team {
  margin-top: 0px;
  background: url("../images/NYC_place.jpg") repeat right top;
  width: 90%;
}

#TeamList {
  width: 70%;
  height: auto;
  background-color: rgba(255, 255, 255, 0.95);
  position: top;
}

#Contact {
  margin-top: 0px;
  background: url("../images/NYC_sun_trees.jpg") repeat right top;
  width: 90%;
  height: auto;
}

#ContactDiv {
  width: 70%;
  height: auto;
  background-color: rgba(255, 255, 255, 0.95);
  position: top;
  padding: 20px;
}

p#ContactText {
  padding: 0px 0px 900px 0px;
}

img.logo {
  width: 90px;
  float: left;
  margin-right: 10px;
}

img#ContactPic {
  position: absolute;
  top: 30px;
  right: 30px;
  width: 30%;
}

a#caLink {
  display: block;
  margin-top: 10px;
}

div.index_crypto {
  display: block;
}

div.role {
  display: block;
  margin-bottom: 10px;
  color: rgba(0, 0, 0, 0.9);
  font-size: 115%;
}

img.crypto {
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

img#portrait {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 30px;
  border: 1px solid rgba(30, 30, 38, 0.2);
  max-width: 30%
}

img#mobile_portrait {
    display: none;
}

img#CaLogo {
    width: auto;
}

ul {
	margin: 0px;
  padding: 0px;
  text-align: center;
}

li {
    margin: 5px 0px;
}

ul {
  list-style: none;
}

ul.workFields {
  list-style: none;
  padding: 0;
}

ul.workFields li.workField {
  margin: 0px 0px 10px 0px;
  width: auto;
  max-width: 100%;
  border-radius: 0px;
  text-align: left;
}

ul.workFields li.workField:hover {
  background-color: rgba(255, 255, 255, 0.01);
}

li.workField.grey {
  background-color: rgba(0, 0, 100, 0.1)
}

li.server_logs::before,
ul.workFields li ul li::before,
ul.operationMode li::before {
  content: '_';
  position: absolute;
  margin-left: -12px;
}

.fieldDescription {
  padding: 10px;
}

.fieldDescription ul {
  padding: 5px 20px;
}

#aboutBackground {
	position: relative;
	float: left;
	top: 0px;
	width: 90%;
	margin: 0px 5%;
	height: auto;
	display: inline-block;
}

#aboutText {
	position: relative;
	text-align: justify;
  padding-bottom: 30px;
}

.aboutLinks {
  text-align: left;
}

a {
	font-weight: 100;
}

a:link {
  color: rgba(51, 102, 143, 1.0);
  text-decoration: none;
}

a:hover {
	color: rgba(51, 102, 143, 0.9);
  z-index: 2;
}

a.download {
	border: 1px solid rgba(51, 102, 143, 0.9);
	padding: 5px;
	position: relative;
	top: 20px;
	margin: 10px;
}

a:visited {
    color: rgba(0, 0, 0, 0.6);
    border-collapse: collapse;
    border: 1px solid transparent;
}

a.textLink {
  font-size: 100%;
  color: rgba(51, 102, 143, 0.9);
  font-style: italic;
}

a.textLink:visited {
  font-size: 100%;
  color: rgba(51, 102, 143, 0.9);
  font-style: italic;
}

a.textLink span.linkExplanation {
    color: rgba(30, 30, 38, 0.6);
    display: inline-block;
    padding: 0px 20px;
 }

a.textLink.publishedLine {
    display: inline-block;
    margin: 6px 0px;
}

.activeLink {
  font-style: italic !important;
  z-index: 2;
}

#copyright {
  width: 100%;
  box-sizing: border-box;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  color: rgba(0, 0, 0, 0.5);
  text-align: right;
}

@media (max-width: 1200px) {

  .link {
    float: left;
    padding: 0px 0px 0px 6px;
    font-size: 90%;
    width: auto;
    margin: 0;
    text-align: center; 
  }
}


/*///////////////////////////// for tablet ////////////////////////////////*/

@media (max-width: 1060px) {

  body {
    font-size: 17pt;
	  min-width: 200px;
  }

  h1 {
  	font-size: 24pt;
  }

  h2 {
    font-size: 22pt;
    margin: 20px 0px 10px 0px;
  }

  h3 {
    font-size: 20pt;
  }

  h3.listTitle {
    font: 110% 'LatoRegular';
  }

  #mobileMenu {
    position: fixed;
    top: 0;
    left: 0;
    width: 50%;
    height: 40px;
    font: 22pt 'LatoRegular';
    color: rgba(0, 0, 0, 0.6);
    line-height: 40px;
    text-indent: 20px;
    display: inline-block;
    z-index: 4;
    cursor: pointer;
  }

  #mobileMenu:hover {
    color: rgba(0, 0, 0, 0.8);
  }

  #linkListBackground {
    position: fixed;
    top: 0px;
    height: 40px;
    width: 100%;
    background-color: rgba(255, 255, 255, 1.0);
    z-index: 4;
    border-bottom: 1px solid rgba(30, 30, 38, 0.2);
  }
     
  .linkList {
    display: none;
    position: fixed;
    width: 100%;
    top: 41px;
    margin: 0;
    text-decoration: none; 
    padding: 0px 0px;
    border-bottom: none;
    z-index: 3;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }

  .link {
    float: left;
    font-size: 17pt;
    width: 100%;
    margin: 0;
    text-align: left; 
    padding: 12px 20px 12px 40px;
    border-bottom: 1px solid rgba(30, 30, 38, 0.7);
    border-right: 1px solid rgba(30, 30, 38, 0.7);
    background-color: rgba(255, 255, 255, 0.5);
  }

  .link a, a:link, .activeLink, a:visited {
    width: 80%;
  	font-size: 16pt;
    display: inline-block;
  }

  .link span.nerdDecoration {
    position: absolute;
    right: 3%;
    display: inline-block;
  }

  .link span#languageDeco.nerdDecoration {
    display: none;
  }

  #header {
    height: 126px;
    overflow: hidden;
  }

  #header a,
  #header a:hover {
    top: 20px;
    background: rgba(255, 255, 255, 1.0) url("../images/TG000844_1000.jpg") no-repeat center top;
    height: 126px;
    z-index: 0;
  }

  .centered {
    top: 146px !important;
    padding: 0px 0px 5% 0px;
  	margin-top: 0px;
    height: 100%;
  }

  #Team {
    margin-top: 0px;
    width: 100%;
  }

  #TeamList {
    width: 90%;
  }

  #Contact {
    margin-top: 0px;
    width: 100%;
    height: auto;
  }

  #ContactDiv {
    width: 70%;
  } 

  .published {
    top: 42px !important;
    padding: 0px 0px 5% 0px;
    margin-top: 0px;
  }

  img#portrait {
    display: none;
  }

  img#mobile_portrait {
    display: block;
    position: relative;
    max-width: 100%;
    border: 1px solid rgba(30, 30, 38, 0.7);
  }

  img.crypto {
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  img#CaLogo {
    width: auto;
  }

  a#caLink {
    display: block;
  }

  .impressum {
    top: 40px !important;
    margin-top: 0px;
  }

  a.textLink,
  a.textLink:visited {
    font-size: 17pt;
    display: inline-block;
    width: auto !important;
    font-style: italic;
  }

  a.textLink.publishedLine {
    margin: 5px 0px;
  }

  .linkList #languageButton {
    display: none;
  }

  .abstract {
    padding: 0px 3%;
    text-align: left;
  }

  #aboutBackground {
    width: 94%;
    margin: 0px 3%;
  }

  #aboutText {
    padding-bottom: 30px;
  }

  ul.workFields li.workField {
    max-width: 100%;
  }

  .aboutLinks a {
    font-size: 17pt;
  }

  .contactLink {
    display: block;
    max-width: 100%;
    margin: 5px 0px;
  }

  #copyright {
    display: none;
  }

  .centered #copyright {
    display: inline-block;
    position: relative;
  }

}

/*///////////////////////////// for mobile ////////////////////////////////*/

@media (max-width: 600px) {

  body {
    font-size: 15pt;
    min-width: 200px;
  }

  h1 {
	  font-size: 22pt; 
    width: 94%;
  }

  h2 {
    font-size: 20pt;
  }

  h3 {
    font-size: 18pt;
  }

  .link a, a:link, .activeLink, a:visited {
  	font-size: 100%;
  }

  .indexItem.title {
    font: 125% 'LatoLight';
    color: rgba(0, 0, 0, 1.0);
  }

  #mobileMenu {
    font: 22pt 'LatoRegular';
    margin: 5px 0px 0px 0px;  
  }

  #mobileLanguageButton {
    font-size: 15pt;
    border: 1px solid rgba(0, 0, 0, 0.1);
  }

  .centered {
    padding-bottom: 40px;
  }

  #Team, #Contact {
    width: 100%;
    height: auto;
  }

  #TeamList {
    width: 100%;
  }

  #ContactDiv {
    width: 85%;
  }

  a.textLink,
  a.textLink:visited {
    font: normal 100 15pt;
    color: rgba(0, 0, 170, 0.7);
  }

  .aboutLinks a {
    display: inline-block;
    min-width: 100%;
    font-size: 15pt;
    line-height: 16pt;
    margin: 0px 0px 8px 0px;
  }

  a.contactLink {
    font-size: 15pt;
  }

  img.crypto {
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  img#CaLogo {
    width: 94%;
  }

}

@media (max-width: 400px) {

  body {
    font-size: 14pt;
    min-width: 200px;
  }

  h1 {
    font-size: 20pt; 
    width: 94%;
  }

  h2 {
    font-size: 18pt;
  }

  h3 {
    font-size: 16pt;
  }

  .link a, a:link, .activeLink, a:visited {
    font-size: 100%;
  }

  #mobileMenu {
    font: 18pt 'LatoRegular';
    margin: 7px 0px 0px 0px;  
  }

  #mobileLanguageButton {
    font-size: 16pt;
    border: 1px solid rgba(0, 0, 0, 0.1);
  }

  .centered {
    padding-bottom: 40px;
  }

  #Team, #Contact {
    width: auto;
    height: auto;
  }

  a.textLink,
  a.textLink:visited {
    font: normal 100 14pt;
    color: rgba(0, 0, 170, 0.7);
  }

  .aboutLinks a {
    display: inline-block;
    min-width: 100%;
    font-size: 14pt;
    line-height: 13pt;
    margin: 0px 0px 8px 0px;
  }

}



